<form class="register-form mx-auto" [formGroup]="rForm!" (ngSubmit)="rForm?.valid && onSave()" novalidate>
  <h3 class="text-center"> Create Acount </h3>
  <div class="row">
  <div class="form-group col-6">
    <label for="">First Name</label>
    <input type="text" class="form-control" [formControl]="fCtrls!.firstName"/>
  </div>
  <div class="form-group col-6">
    <label for="">Last Name</label>
    <input type="text" class="form-control" [formControl]="fCtrls!.lastName"/>
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" [formControl]="fCtrls!.email" />
    <div *ngIf="fCtrls?.email?.hasError('required') && fCtrls?.email?.touched" class="error-message">
      Email is required.
    </div>
    <div *ngIf="fCtrls?.email?.hasError('email') && fCtrls?.email?.touched" class="error-message">
      Invalid email format.
    </div>
  </div>
  <div class="form-group">
    <label for="">Phone Number</label>
    <input type="text" class="form-control" [formControl]="fCtrls!.phoneNumber" />
  </div>
  <div class="form-group col-6">
    <label for="">Password</label>
    <input type="password" class="form-control" [formControl]="fCtrls!.password" />
    <div *ngIf="fCtrls?.password?.hasError('required') && fCtrls?.password?.touched" class="error-message">
      Password is required.
    </div>
    <div *ngIf="fCtrls?.password?.hasError('invalidPassword') && fCtrls?.password?.touched" class="error-message">
      Password must contain at least 8 characters, letter, and number.
    </div>
  </div>
  <div class="form-group col-6">
    <label for="">Confirm Password</label>
    <input type="password" class="form-control" [formControl]="fCtrls!.confirmPassword" />
    <div *ngIf="rForm?.hasError('mismatch') && fCtrls?.confirmPassword?.touched" class="error-message">    Passwords do not match.
  </div>
  </div>
  <div class="form-group col-6 ">
    <label for="">Student Grade </label>
    <ng-select [items]="(studentGradeArr$ | async)" [formControl]="fCtrls.studentGradeId" bindLabel="name"
        bindValue="id">
    </ng-select>
</div>
  <div class="form-group col-6">
    <label for="gender">Gender</label>
    <select class=" form-select" [formControl]="fCtrls!.gender" id="gender">
      <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.label }}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label" for="flexCheckDefault">
        Agree the terms and policy
      </label>
    </div>
  </div>
  <div class="form-group">
  <button class="btn-primary  mt-1 btn d-block text-center w-100" (click)="onSave()">Register</button>
  <p class="signup mt-1">Do have an account?
		<a rel="noopener noreferrer" href="#" class="">Login</a>
	</p>
</div>
</div>
</form>
