
.questions__container{
    font-size: 18px;

    .question-info__container h3{
      color:#1ab394;
    }
}

.question-info__container{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}