<div bsModal #addQuestionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="addQuestionModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form #nForm="ngForm" [formGroup]="rForm!" (ngSubmit)="rForm.valid && onSave()" novalidate
        [ngClass]="{ 'submitted-form': nForm.submitted }">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-4">
              <label for="">Term Number</label>
              <ng-select [items]="(termNumberArr$ | async)" [formControl]="fCtrls.termNumber!" bindLabel="name"
                bindValue="id">
              </ng-select>
            </div>
            <div class="form-group col-4">
              <label for="">Student Grade </label>
              <ng-select [items]="(studentGradeArr$ | async)" [formControl]="fCtrls.studentGradeId!" bindLabel="name"
                bindValue="id">
              </ng-select>
            </div>
            <div class="form-group col-4">
              <label for="">Material Study </label>
              <ng-select [items]="(materialStudyArr$ | async)" [formControl]="fCtrls.materialStudyId!" bindLabel="name"
                bindValue="id">
              </ng-select>
            </div>
            <div class="form-group col-6">
              <label for="">Unit </label>
              <ng-select [items]="(materialStudyUnitArr$ | async)" [formControl]="fCtrls.materialStudyUnitId!"
                bindLabel="name" bindValue="id">
              </ng-select>
            </div>
            <div class="form-group col-6">
              <label for="">Lesson </label>
              <ng-select [items]="materialStudyLessonArr" [formControl]="fCtrls!.materialStudyLessonId" bindLabel="name"
                bindValue="id" placeholder="Select Lesson">
              </ng-select>
            </div>
            <div class="form-group col-6">
              <label for="">Question Book </label>
              <ng-select [items]="qestionBookArr" [formControl]="fCtrls!.questionBookId" bindLabel="name" bindValue="id"
                placeholder="Select Question Book">
              </ng-select>
            </div>
            <div class="form-group col-6">
              <label for="">BookPage Number </label>
              <input type="number" class="form-control" [formControl]="fCtrls!.questionBookPageNumber">
            </div>
            <div class="form-group col-12">
              <label for="">Title</label>
              <input type="text" class="form-control" [formControl]="fCtrls!.title">
            </div>
            <div class="form-group col-12">
              <label for="">Description</label>
              <textarea cols="2" rows="2" class="form-control" [formControl]="fCtrls!.descirption"></textarea>
            </div>
            <div>
              <div>
                <div class="form-group col-12" *ngFor="let answerCtrl of fAnswer; let i = index">
                  <label>Answer {{i + 1}}</label>
                  <div class="input-group">
                    <input type="text" class="form-control" [formControl]="answerCtrl.controls.value">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" [formControl]="answerCtrl.controls.isCorrect"
                        name="Answercheckbox" (change)="handleRadioChange(i)">

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>