<div class="row">
  <div class="ibox col-12">
      <div class="ibox-content">
          <div class="table-responsive mt-3">
              <table class="table table-striped table-bordered" matSort (matSortChange)="onSorting($event)">
                  <thead>
                      <tr class="table-primary">
                          <th mat-sort-header="name">First Name</th>
                          <th >Last Name</th>
                          <th >Phone</th>
                          <th >Created At</th>
                          <th style="width:130px;"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let item of userArr">
                          <tr>
                              <td> {{item.firstName}} </td>
                              <td> {{item.lastName}} </td>
                              <td> {{item.phoneNumber}} </td>
                              <td>{{item.createdAt |date:'dd/MM/yyyy'}}</td>
                              <td>
                                  <div class="operations">
                                      <a href="javaScript:void(0);" (click)="onDelete(item)">
                                          <i class="fa fa-trash"></i>
                                      </a>
                                  </div>
                              </td>
                          </tr>
                      </ng-container>

                  </tbody>
              </table>
          </div>
          <div class="col-12 mt-2 text-center" [formGroup]="fCtrls.paggingConfig"
              style="display: flex; justify-content: space-around;">
              <pagination [totalItems]="fCtrls.paggingConfig.value.totalItems!" [align]="true"
                  (pageChanged)="onPageChanged($event)" [formControl]="fCtrls.paggingConfig.controls.currentPage"
                  pageBtnClass="btn" [itemsPerPage]="fCtrls.paggingConfig.value.itemsPerPage!" previousText="Prev">
              </pagination>
          </div>
      </div>
  </div>
</div>

<app-right-sidebar #rightSidebar (onFilterEmit)="onSearch()" (onClearFilterEmit)="onClearFilter()">
  <div class="row" [formGroup]="rForm">
      <div class="col-12">
          <div class="form-group">
              <label for="">First Name</label>
              <input type="text" class="form-control" [formControl]="fCtrls.firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="">Phone Number</label>
            <input type="text" class="form-control" [formControl]="fCtrls.phone" placeholder="Phone">
        </div>
      </div>
  </div>
</app-right-sidebar>

